
/*
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


.container {
      display: inline-flex;
      justify-content: space-between;
  
    }
  
    .left {
      display: table-cell;
        float: left;
        text-align: center;
        padding-left: 300px
  
    }
  
    .right {
  
      float: right;
    }
  
  
  
    .list-unstyled {
        float:right;
  
        justify-content: center;
    }
  
  
    .social-menu ul {
            position: absolute;
            top:50%;
            transform: translate(-50%, -50%);
            left:50%;
            display: flex;
            padding: 0;
            margin: 0;
           }
  
     .social-menu ul li{
  
    list-style: none;
    margin: 0
  
  
     }
    .social-menu ul li .fa{
      font-size: 30px;
      line-height: 60px;
      transition: .6s;
    margin: 10px;
    padding: 10px;
  
    }
    .social-menu ul li a{
  
  
      position: relative;
      display: block;
      width: 60px;
      border-radius: 50%;
      text-align: center;
  
    }
    .social-menu ul li a:hover {
  
      transform: translate(0,-10px);
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, Sans-serif;
       background-color: white;
    }
    .alert-alert {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
      text-align: left;
      font-size: .8em;
      }
  
      .alert-success {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #468847;
      text-align: center;
      font-size: .8em;
      }
  
      .alert-notice {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #468847;
      text-align: left;
      font-size: .8em;
      }
  
  
    /* STYLES SPECIFIC TO FOOTER  */
    .footer {
      width: 100%;
      padding-left: 300px;
      position: relative;
      display: flex;
      text-align: center;
      height: auto;
      background-color: #070617;
    }
    .footer .col {
      width: 190px;
      height: auto;
      float: left;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 0px 20px 20px 20px;
    }
    .footer .col h1 {
      margin: 0;
      padding: 0;
      font-family: inherit;
      font-size: 12px;
      line-height: 17px;
      padding: 20px 0px 5px 0px;
      color: rgba(255,255,255,0.2);
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.250em;
    }
    .footer .col ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .footer .col ul li {
      color: #999999;
      font-size: 14px;
      font-family: inherit;
      font-weight: bold;
      padding: 5px 0px 5px 0px;
      cursor: pointer;
      transition: .2s;
      -webkit-transition: .2s;
      -moz-transition: .2s;
    }
    .social ul li {
      display: inline-block;
      padding-right: 5px !important;
    }
  
    .footer .col ul li:hover {
      color: #ffffff;
      transition: .1s;
      -webkit-transition: .1s;
      -moz-transition: .1s;
    }
    .clearfix {
      clear: both;
    }
    @media only screen and (min-width: 1280px) {
      .contain {
        width: 1200px;
        margin: 0 auto;
      }
    }
    @media only screen and (max-width: 1139px) {
      .contain .social {
        width: 1000px;
        display: block;
      }
      }
      .social h1 {
        margin: 0px;
      }
  
    @media only screen and (max-width: 950px) {
      .footer .col {
        width: 33%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
    }
    @media only screen and (max-width: 500px) {
        .footer .col {
          width: 50%;
        }
        .footer .col h1 {
          font-size: 14px;
        }
        .footer .col ul li {
          font-size: 13px;
        }
    }
    @media only screen and (max-width: 340px) {
      .footer .col {
        width: 100%;
      }
    }