<nav class ="navbar navbar-light" style="background-color: white">
  <div>
    <a class ="navbar-brand" href ="#">
      <img style="max-width: 100px" src="https://cdn.dribbble.com/users/4236/screenshots/57991/shot_1285340170.jpg">
    </a>
  </div>
  <div class="social-menu">
    <ul>
      <li><a href="tel:0123456789" ><i class="fa fa-phone"></i></a></li>
      <li><a href="www.facebook.com"><i class="fa fa-facebook"></i></a></li>
      <li><a href="www.twiter.com"><i class="fa fa-twitter"></i></a></li>
      <li><a href="www.instagram.com"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://api.whatsapp.com/send?phone=1234567890"><i class="fa fa-whatsapp"></i></a></li>
      <li><a href="mailto:klajdv@gmail.com"><i class="fa fa-mail"></i></a></li>
    </ul>
  </div>
  <!-- div social menu -->
  <button class ="navbar-toggler navbar-toggler-right" type = "button" data-toggle = "collapse" data-target = "#colNav">
    <span class ="navbar-toggler-icon"></span>
  </button>
  <div class ="collapse navbar-collapse" id ="colNav">
    <ul class ="navbar-nav mr-auto mt-2 mt-md-0">
      <li class ="nav-item active">
        <a class ="nav-link" href="#services"> Services </a>
      </li>
      <li class ="nav-item">
        <a class ="nav-link" href ="#contact"> Contact </a>
      </li>
      <li class ="nav-item">
        <a class ="nav-link" href ="#applyasdriver"> Apply as driver </a>
      </li>
    </ul>
  </div>
</nav>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner " >
    <div class="carousel-item active">
      <img class="d-block mx-auto w-100" src="https://www.autodeal.com.ph/images/autodeal/hero-images/TruckDeal-Autokid-Homepage-Hero.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block mx-auto w-100" src="https://www.volvotrucks.com/content/dam/volvo/volvo-trucks/masters/press-releases/2020/feb/pr-2952-range/1860x1050-R2A818233.jpg" alt="Second slide" >
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- div carousel-->
<!--Section: Contact v.2-->
<section class="mb-4">
  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
    a matter of hours to help you.</p>
  <div class="container">
    <div class="left">
      <!--Grid column-->
      <div class="col-md-9 mb-md-0">
        <!--Grid row-->
        <%= form_for @contact, url: public_index_path, remote: true do |f| %>
          <!--Grid column-->
          <div class="form-outline mb-4">
            <div class="form-outline mb-4">
              <%= f.label :name %>
              <%= f.text_field :name, required: true,
                        class: 'form-control'%>
            </div>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="form-outline mb-4">
            <div class="form-outline mb-4">
              <%= f.label :email %>
              <%= f.text_field :email, required: true,
                        class: "form-control"%>
            </div>
          </div>
          <!--Grid row-->
          <!--Grid row-->
          <div class="form-outline mb-4">
            <div class="form-outline mb-4">
              <%= f.label :subject %>
              <%= f.text_field :subject, required: true,
                        placeholder: "Driver Application"%>
            </div>
          </div>
          <!--Grid row-->
          <!--Grid row-->
          <!--Grid column-->
          <div class="form-outline mb-4">
            <div class="md-form ">
              <%= f.label :message %>
              <%= f.text_area :message, rows: 3, cols: 30, required: true,
                        placeholder: "Write your CV here"%>
            </div>
          </div>
          <!--Grid row-->
          <%= f.submit 'Send Message', class: 'btn btn-primary' %>
        </div>
      <% end %>
      <div class="form-outline mb-4" id="flash-message" style="color: red">
        <%= render 'flash' %>
      </div>
      <!--Grid column-->
      <!--Grid column-->
    </div>
    <!--left-->
    <!--flash message-->
    <div class="right" >
      <div class="col-md-3 text-center">
        <ul class="list-unstyled">
          <li><i class="fa fa-map mt-4 fa-2x"></i>
            <p>San Francisco, CA 94126, USA</p>
          </li>
          <li><i class="fa fa-phone mt-4 fa-2x"></i>
            <p>+ 01 234 567 89</p>
          </li>
          <li><i class="fa fa-envelope mt-4 fa-2x"></i>
            <p>contact@mdbootstrap.com</p>
          </li>
        </ul>
      </div>
    </div>
    <!--right-->
  </div>
  <!--container-->
  <!--Grid column-->
</section>
<!--Section: Contact v.2-->
<footer>
  <div class="footer">
    <div class="contain">
      <div class="col">
        <h1>Company</h1>
        <ul>
          <li>About</li>
          <li>Mission</li>
        </ul>
      </div>
      <div class="col">
        <h1>Products</h1>
        <ul>
          <li>About</li>
          <li>Services</li>
        </ul>
      </div>
      <div class="col">
        <h1>services</h1>
        <ul>
          <li>Service 1</li>
          <li>Service 2</li>
          <li>Service 3</li>
        </ul>
      </div>
      <div class="col">
        <h1>Support</h1>
        <ul>
          <li>Contact us</li>
          <li>Web chat</li>
          <li>Open ticket</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END OF FOOTER -->
</footer>